# Development override for docker-compose.yml

services:
  db:
    environment:
      - POSTGRES_DB=${POSTGRES_DEV_DB_NAME}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DEV_DB_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/.venv
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-password}@db:5432/${POSTGRES_DEV_DB_NAME:-${POSTGRES_DEV_DB_NAME--dj-site-templ-dev}}

  nginx:
    ports:
      - "${HOST_BIND_IP:-127.0.0.1}:${DEV_PORT:-8001}:80"

volumes:
  venv_volume:
    driver: local
